# <Center> 17th Feb MangoDb Assignmnet

# Q1:- What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use MongoDB over SQL databases?

Ans 1:-MongoDB is a popular open-source document-oriented database system that allows for flexible and scalable storage and retrieval of data. It stores data in the form of JSON-like documents, making it a highly flexible and scalable database system.

Non-relational databases, also known as NoSQL databases, are database systems that do not rely on the traditional relational model for storing and retrieving data. Instead, they use various data models, including key-value, document, graph, and columnar, to store and retrieve data.

MongoDB is a popular choice for applications that require flexible schema design, such as those that handle unstructured or semi-structured data, as well as those that need to scale horizontally. It is also a good choice for applications that require high availability and automatic failover. In general, MongoDB is preferred over SQL databases in scenarios where:

1. There is a need for storing large volumes of unstructured or semi-structured data, as MongoDB's flexible schema design makes it easier to handle such data.

2. The application needs to scale horizontally, as MongoDB's sharding capabilities make it easier to distribute data across multiple nodes.

3. There is a need for high availability and automatic failover, as MongoDB's replica sets provide automatic failover and ensure high availability of data.

4. The application requires real-time analytics or search capabilities, as MongoDB's aggregation framework and text search features provide powerful analytics and search capabilities.

5. The development team has experience with document-oriented databases or prefers using a non-relational database.

# Q2:- State and Explain the features of MongoDB.

Ans 2:- MongoDB is a popular NoSQL database that offers a range of features that make it a popular choice for developers and organizations looking for a scalable and flexible database solution. Some of the key features of MongoDB include:

1. Document-oriented: MongoDB is a document-oriented database, which means that it stores data in the form of JSON-like documents. Each document can have its own unique structure, making it highly flexible and adaptable to changing data requirements.

2. Scalability: MongoDB is designed to scale horizontally by distributing data across multiple nodes. This makes it easier to handle large amounts of data and enables high availability and automatic failover.

3. High performance: MongoDB's architecture and indexing features enable it to deliver high performance for read and write operations, even at scale.

4. Rich query language: MongoDB's query language is rich and expressive, allowing for complex queries and aggregations. It supports full-text search and geospatial queries as well.

5. Automatic sharding: MongoDB's automatic sharding capability allows it to automatically distribute data across multiple shards, making it easier to scale and manage data.

6. ACID transactions: MongoDB supports multi-document ACID transactions, making it a good fit for applications that require transactional consistency.

7. Schema flexibility: MongoDB's flexible schema design makes it easy to handle data that is constantly evolving or has changing requirements.

8. Easy integration: MongoDB integrates well with a wide range of tools and platforms, including Hadoop, Spark, and various programming languages.

# Q3:-  Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [3]:
# Import the PyMongo library
import pymongo

# Connect to the MongoDB server
client = pymongo.MongoClient("mongodb+srv://sharmaatulaks:jyoti6306@cluster0.uofiwfz.mongodb.net/?retryWrites=true&w=majority")

# Create a new database
db = client["mydb"]

# Create a new collection in the database
collection = db["mydb_coll"]

# Insert a new document into the collection
document = {"name": "atul", "age": 30, "city": "New York"}
collection.insert_one(document)

# Find a document in the collection
query = {"name": "atul"}
result = collection.find_one(query)
print(result)

{'_id': ObjectId('640045c9135f61f45c8dce22'), 'name': 'atul', 'age': 30, 'city': 'New York'}

# Q4: -Using the database and the collection created in question number 3, write a code to insert one record, and insert many records. Use the find() and find_one() methods to print the inserted record.

In [4]:
Document2= { "name": "Anupam", 
            "age": 25, 
            "city": "Delhi"}
    


Document1 = [{"name": "Sikandar", "age": 25, "city": "Jaipur"},
             {"name": "Bobby", "age": 30, "city": "vadodara"},
             {"name": "Amit", "age": 35, "city": "Ahmedabad"}
            ]

In [6]:
# code to insert one record into the collection
collection.insert_one(Document2)

In [7]:
# code to insert many record into the collection
collection.insert_many(Document1)

In [8]:
# code to find the one record

record= collection.find_one()
print(record)

{'_id': ObjectId('640045c9135f61f45c8dce22'), 'name': 'atul', 'age': 30, 'city': 'New York'}

In [10]:
# code to find many records

records = collection.find()
for i in records:
    print(i)

{'_id': ObjectId('640045c9135f61f45c8dce22'), 'name': 'atul', 'age': 30, 'city': 'New York'}
{'_id': ObjectId('6400479e135f61f45c8dce23'), 'name': 'Anupam', 'age': 25, 'city': 'Delhi'}
{'_id': ObjectId('640047b8135f61f45c8dce24'), 'name': 'Sikandar', 'age': 25, 'city': 'Jaipur'}
{'_id': ObjectId('640047b8135f61f45c8dce25'), 'name': 'Bobby', 'age': 30, 'city': 'vadodara'}
{'_id': ObjectId('640047b8135f61f45c8dce26'), 'name': 'Amit', 'age': 35, 'city': 'Ahmedabad'}

# Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to demonstrate this.

Ans5:- The find() method in MongoDB is used to query and retrieve data from a collection. It allows to specify search criteria and returns all documents in the collection that match those criteria.

To use the find() method, we need to specify the name of the collection we want to query and any search criteria we want to use. we can also use optional arguments to control the results returned, such as limiting the number of documents returned or specifying the fields to include or exclude.

A simple example of how to use the find() method in Python:

In [11]:
# query the collection and print the results
results = collection.find({'name': 'atul'})
for result in results:
    print(result)

{'_id': ObjectId('640045c9135f61f45c8dce22'), 'name': 'atul', 'age': 30, 'city': 'New York'}

# Q6: Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

Ans6:- In MongoDB, the sort() method is used to sort the documents in a collection based on one or more fields. The sort() method takes one or more arguments, which can be either a field name or a tuple of field names and sorting directions. The sorting direction can be specified as either 1 (ascending) or -1 (descending).

Example:-  how to use the sort() method in MongoDB:

In [13]:
results = collection.find().sort('age',1)
for i in results:
    print(i)

{'_id': ObjectId('6400479e135f61f45c8dce23'), 'name': 'Anupam', 'age': 25, 'city': 'Delhi'}
{'_id': ObjectId('640047b8135f61f45c8dce24'), 'name': 'Sikandar', 'age': 25, 'city': 'Jaipur'}
{'_id': ObjectId('640045c9135f61f45c8dce22'), 'name': 'atul', 'age': 30, 'city': 'New York'}
{'_id': ObjectId('640047b8135f61f45c8dce25'), 'name': 'Bobby', 'age': 30, 'city': 'vadodara'}
{'_id': ObjectId('640047b8135f61f45c8dce26'), 'name': 'Amit', 'age': 35, 'city': 'Ahmedabad'}

in the above example the sort method has sorted the collection by age in ascending order as be have 1 as argument for sorting for desending we can pass -1, example as below:-

In [14]:
results = collection.find().sort('age',-1)
for i in results:
    print(i)

{'_id': ObjectId('640047b8135f61f45c8dce26'), 'name': 'Amit', 'age': 35, 'city': 'Ahmedabad'}
{'_id': ObjectId('640045c9135f61f45c8dce22'), 'name': 'atul', 'age': 30, 'city': 'New York'}
{'_id': ObjectId('640047b8135f61f45c8dce25'), 'name': 'Bobby', 'age': 30, 'city': 'vadodara'}
{'_id': ObjectId('6400479e135f61f45c8dce23'), 'name': 'Anupam', 'age': 25, 'city': 'Delhi'}
{'_id': ObjectId('640047b8135f61f45c8dce24'), 'name': 'Sikandar', 'age': 25, 'city': 'Jaipur'}

# Q7:-Explain why delete_one(), delete_many(), and drop() is used.

Ans7:- In MongoDB, the delete_one(), delete_many(), and drop() methods are used to remove documents or collections from a database.

Here's an explanation of what each method does:

delete_one(filter) - This method removes a single document that matches the specified filter from the collection. If multiple documents match the filter, only the first one encountered will be deleted. The method returns a DeleteResult object that contains information about the delete operation, including the number of documents deleted (which will be either 0 or 1).

delete_many(filter) - This method removes all documents that match the specified filter from the collection. The method returns a DeleteResult object that contains information about the delete operation, including the number of documents deleted.

drop() - This method removes the entire collection from the database. The method returns None and does not provide any information about the delete operation.

In [15]:
# lets add some fresh entries with same name into the collection

Document6 = [{"name": "atul", "age": 25, "city": "Jaipur"},
             {"name": "atul", "age": 30, "city": "vadodara"},
             {"name": "atul", "age": 35, "city": "Ahmedabad"}
            ]

collection.insert_many(Document6)

In [16]:
records = collection.find()
for i in records:
    print(i)

{'_id': ObjectId('640045c9135f61f45c8dce22'), 'name': 'atul', 'age': 30, 'city': 'New York'}
{'_id': ObjectId('6400479e135f61f45c8dce23'), 'name': 'Anupam', 'age': 25, 'city': 'Delhi'}
{'_id': ObjectId('640047b8135f61f45c8dce24'), 'name': 'Sikandar', 'age': 25, 'city': 'Jaipur'}
{'_id': ObjectId('640047b8135f61f45c8dce25'), 'name': 'Bobby', 'age': 30, 'city': 'vadodara'}
{'_id': ObjectId('640047b8135f61f45c8dce26'), 'name': 'Amit', 'age': 35, 'city': 'Ahmedabad'}
{'_id': ObjectId('64004bae135f61f45c8dce27'), 'name': 'atul', 'age': 25, 'city': 'Jaipur'}
{'_id': ObjectId('64004bae135f61f45c8dce28'), 'name': 'atul', 'age': 30, 'city': 'vadodara'}
{'_id': ObjectId('64004bae135f61f45c8dce29'), 'name': 'atul', 'age': 35, 'city': 'Ahmedabad'}

In [18]:
# use of delete_one, it will delete first entry its encounter in documents

collection.delete_one({'name': 'atul'})

In [19]:
records = collection.find()
for i in records:
    print(i)

{'_id': ObjectId('6400479e135f61f45c8dce23'), 'name': 'Anupam', 'age': 25, 'city': 'Delhi'}
{'_id': ObjectId('640047b8135f61f45c8dce24'), 'name': 'Sikandar', 'age': 25, 'city': 'Jaipur'}
{'_id': ObjectId('640047b8135f61f45c8dce25'), 'name': 'Bobby', 'age': 30, 'city': 'vadodara'}
{'_id': ObjectId('640047b8135f61f45c8dce26'), 'name': 'Amit', 'age': 35, 'city': 'Ahmedabad'}
{'_id': ObjectId('64004bae135f61f45c8dce27'), 'name': 'atul', 'age': 25, 'city': 'Jaipur'}
{'_id': ObjectId('64004bae135f61f45c8dce28'), 'name': 'atul', 'age': 30, 'city': 'vadodara'}
{'_id': ObjectId('64004bae135f61f45c8dce29'), 'name': 'atul', 'age': 35, 'city': 'Ahmedabad'}

In [20]:
# in above example the entry of 1  atul was deleted that was at first place

# now will be delete all entries of name atul using delete_many()

collection.delete_many({'name': 'atul'})

In [21]:
for i in collection.find():
    print(i)

{'_id': ObjectId('6400479e135f61f45c8dce23'), 'name': 'Anupam', 'age': 25, 'city': 'Delhi'}
{'_id': ObjectId('640047b8135f61f45c8dce24'), 'name': 'Sikandar', 'age': 25, 'city': 'Jaipur'}
{'_id': ObjectId('640047b8135f61f45c8dce25'), 'name': 'Bobby', 'age': 30, 'city': 'vadodara'}
{'_id': ObjectId('640047b8135f61f45c8dce26'), 'name': 'Amit', 'age': 35, 'city': 'Ahmedabad'}

In [22]:
# drop will drop the entire collection from the data base:-

collection.drop()

In [23]:
for i in collection.find():
    print(i)

# entire collection is drop and no collection by name collection is found into the database

# <Center> End of Assignment